<div class="background"></div>

<div fxLayout="column wrap" fxLayoutGap="32px" fxLayoutAlign="space-around start">
    <div class="item">
      <p class="mat-display-1" style="margin-left: 20px; margin-top: 20px;">
          At FarmFresh, we believe in bringing ease of life to millions.
      </p>
        
    </div>
    
    <div class="item">
        <div class="container"
        fxLayout
        fxLayout.xs="column"
        fxLayoutAlign="start end"
        fxLayoutGap="200px"
        fxLayoutGap.xs="5px">
        <div class="item item-1">
            <mat-card class = "tp-card">
                <mat-card-header>
                   <div mat-card-avatar class = "tp-header-image1"></div>
                   <mat-card-title>Linda Perry</mat-card-title>
                   <mat-card-subtitle>CEO</mat-card-subtitle>
                </mat-card-header>
             </mat-card> 
        </div>
        <div class="item item-2">
            <mat-card class = "tp-card">
                <mat-card-header>
                   <div mat-card-avatar class = "tp-header-image2"></div>
                   <mat-card-title>Ross Geller</mat-card-title>
                   <mat-card-subtitle>CFO</mat-card-subtitle>
                </mat-card-header>
             </mat-card> 
        </div>
        <div class="item item-3">
            <mat-card class = "tp-card">
                <mat-card-header>
                   <div mat-card-avatar class = "tp-header-image3"></div>
                   <mat-card-title>Olivia Green</mat-card-title>
                   <mat-card-subtitle>CTO</mat-card-subtitle>
                </mat-card-header>
             </mat-card> 
        </div>
        <div class="item item-4">
            <mat-card class = "tp-card">
                <mat-card-header>
                   <div mat-card-avatar class = "tp-header-image4"></div>
                   <mat-card-title>Rick Kent</mat-card-title>
                   <mat-card-subtitle>Advisor</mat-card-subtitle>
                </mat-card-header>
             </mat-card> 
        </div>
      </div>
    </div>
</div>

 