<mat-nav-list color="primary">
  <a mat-list-item routerLink="/" (click)="onSidenavClose()">
      <mat-icon>home</mat-icon> <span class="nav-caption">Home</span>
  </a>
  <a mat-list-item routerLink="/about" (click)="onSidenavClose()">
    <mat-icon>info</mat-icon><span class="nav-caption">About Us</span>
  </a>
  <a mat-list-item routerLink="/ourservices" (click)="onSidenavClose()">
      <mat-icon>stars</mat-icon> <span class="nav-caption">Our Services</span>   
  </a>
  <a mat-list-item routerLink="/contactus" (click)="onSidenavClose()">
      <mat-icon>mail_outline</mat-icon><span class="nav-caption">Contact Us</span>
  </a>
</mat-nav-list>