<div class="background"></div>



<p class="mat-display-1" style="margin-left: 20px; margin-top: 20px; margin-bottom: -10px">
What we offer
</p>
  <div class="container"
    fxLayout
    fxLayout.xs="column"
    fxLayoutAlign="center"
    fxLayoutGap="10px"
    fxLayoutGap.xs="0">
      <div class="item item-1">
          <mat-tab-group style="background-color: transparent;">
              <mat-tab label="Farms to Storage"> 
                <p style="min-height: 40px;">Leveraging AI and Machine Learning, the produce is directed to places considering local demands.</p>
                <img src="../../assets/img/analysis.svg" style="max-height: 360px;">
              </mat-tab>
              <mat-tab label="Streamlined Logistics">
                  <p style="min-height: 40px;"> Providing realtime vectors for actionable decisions. </p>
                  <img src="../../assets/img/logistics.svg" style="max-height: 360px;">
              </mat-tab>
              
              <mat-tab label="Storage to Market"> 
                  <p style="min-height: 40px;">  Buy groceries and livestock supplies from your comfort, at simply low costs. </p>
                  <img src="../../assets/img/add_to_cart.svg" style="max-height: 360px;">
              </mat-tab>
              
            </mat-tab-group>
      </div>
  </div>
  