mat-tab-group {
    text-align: center;
}
 
mat-tab-group p {
    padding-top: 20px;
}

#wrapper{
    position: relative;
}

.content{
    color: #FFFFFF;
    position: relative;
    z-index: 100;
}
.tile-image {
    width:100%;
    height: auto;
  }

.background{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
    max-width: 100%;
    max-height: 100vh;
    right: 0px;
    bottom: 0;
    background-image: url("https://source.unsplash.com/collection/5018499");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}