<div class="background"></div>

<div class="container"
    fxLayout="column"
    fxLayoutAlign="center"
    fxLayoutGap="10px"
    fxLayoutGap.xs="0">
    <div class="item item-1">
        <div class="card" style="min-width: 250px;">
          <h4 style="padding-top:4%;text-align: center;">Create an account</h4>
          <div class="container">
              <app-sign-up></app-sign-up>
          </div>
        </div>
    </div>
    <div class="item item-2">
        <div class="card" style="min-width: 250px;">
            <h4 style="padding-top:4%;text-align: center;">Login</h4>
            <div class="container">
                <app-sign-in></app-sign-in>
            </div>
        </div>
    </div>
  </div>